.navigation {
	$nav-start-bg-color: #a6d720;
	$nav-end-bg-color: #86af17;
	@include linear-vertical-gradient($nav-start-bg-color, $nav-end-bg-color);


	&__list-item {
		color: #000;
		list-style: none;
		float: left;
		font-family: 'Open Sans';
	}

	&__nav-wrapper {
		// width: 100%;
		padding: 0;
		@media screen and (min-width: $screen-sm) {
			width: $container-small;
		}
		@media screen and (min-width: $screen-md) {
			width: $container-medium;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		@include clearfix();
	}

	&__link {
		padding: 15px 25px !important;
		color: #fff !important;
		font-family: 'Open Sans';
		font-weight: 600;
		font-size: 13px;
		text-shadow: 0px 0px 3px rgba(#000, .3);
		text-transform: uppercase;
		
		@media screen and (max-width: $screen-md) {
			font-size: 11px;
			padding: 10px 18px !important;
		}

		&--active, &:focus, &:hover {
			background: $main-color !important;
		}

		&--icon-wrap {
			position: relative;
			height: 50px;
			width: 60px;
			padding: 0 !important;

			@media screen and (max-width: $screen-md) {
				height: 40px;
				width: 50px;
			}
		}
	}

	&__nav-toggler {
		margin: 0;
		border-radius: 0;
		padding: 17px;
	}

	&__icon-bar {
		background: darken($nav-start-bg-color, 20%);
	}


	&__link-list {
		border:1px solid red;
	}

	&__icon {
		position: absolute;
		height: 25px;
		width: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url($image-path + 'home.png');
		background-position: center center;
		background-size: 100%;
		display: block;
	}

}