$main-color: #7aa700;

$path-to-fonts: '/local/templates/blagodar/fonts/';

$basic-font-name: 'Open Sans';

$image-path: '/local/templates/blagodar/images/';

$container-large: 940px;

$container-medium: 940px;

$container-small: 768px;

$screen-lg: 1170px;

$screen-md: 960px;

$screen-sm: 768px;

$screen-xs: 564px;